@import url('https://fonts.googleapis.com/css?family=Merriweather:400,900|Six+Caps');

*,
:after,
:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  -o-box-sizing: inherit;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
@media (max-width: 75em) {
  html {
    font-size: 58%;
  }
}
@media (max-width: 62em) {
  html {
    font-size: 52.5%;
  }
}
@media (max-width: 48em) {
  html {
    font-size: 42.5%;
  }
}
@media (max-width: 36em) {
  html {
    font-size: 40%;
  }
}
@media (min-width: 112.5em) {
  html {
    font-size: 70.5%;
  }
}
body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
  margin-left: 50px !important;
}
h1 {
  color: red;
  line-height: 1;
  font-size: 3.125rem;
}
@media (min-width: 50em) {
  h1 {
    font-size: 4.25rem;
  }
}
h2 {
  font-size: 2rem;
  letter-spacing: 0.15em;
  color: #606060;
  text-transform: uppercase;
  line-height: 1;
  font-family:
    Six Caps,
    sans-serif;
  font-weight: 400;
}
@media (min-width: 50em) {
  h2 {
    font-size: 3rem;
  }
}
.disabled {
  opacity: 0.2;
}
.disabled:hover {
  cursor: not-allowed;
}
.overlay {
  opacity: 0.5;
  -webkit-transition: opacity 0.7s ease-in-out;
  transition: opacity 0.7s ease-in-out;
}
.btnScroll {
  position: absolute;
  display: block;
  bottom: -7rem;
  right: 27rem;
  font-size: 2rem;
  border: none;
  background: #ececec;
  padding: 2rem;
  height: 220px;
  width: 220px;
  text-align: left;
}
.btnScroll:hover {
  cursor: pointer;
}
.btnScroll:hover svg {
  -webkit-transform: translate3d(0, 20px, 0) scale(1.2);
  transform: translate3d(0, 20px, 0) scale(1.2);
}
.btnScroll h2 {
  position: relative;
  bottom: 5rem;
}
@media (max-width: 62em) {
  .btnScroll h2 {
    font-size: 3rem;
  }
}
@media (max-width: 48em) {
  .btnScroll h2 {
    font-size: 4rem;
  }
}
.btnScroll svg {
  position: relative;
  bottom: 7.5rem;
  left: 14rem;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition:
    transform 0.4s ease-in-out,
    -webkit-transform 0.4s ease-in-out;
}
@media (max-width: 62em) {
  .btnScroll svg {
    bottom: 8rem;
    left: 13rem;
  }
}
@media (max-width: 48em) {
  .btnScroll svg {
    bottom: 8.5rem;
    left: 18rem;
  }
}
@media (max-width: 62em) {
  .btnScroll {
    bottom: -5rem;
    right: 10rem;
    font-size: 0;
    height: 190px;
    width: 200px;
  }
}
@media (max-width: 48em) {
  .btnScroll {
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
    padding: 0;
    display: none;
  }
}
@media (max-width: 36em) {
  .btnScroll {
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
    padding: 0;
    display: none;
  }
}
.navigation {
  height: 100vh;
  width: 50px;
  position: fixed;
  left: 0;
  z-index: 2000;
}
.navigation_sideContainer {
  height: inherit;
  position: relative;
  width: inherit;
}
.navigation_sideBar {
  height: inherit;
  position: fixed;
  width: inherit;
  background: #252737;
  z-index: 2000;
}
.navigation_home {
  position: fixed;
  color: #fff;
  font-size: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 136px;
  z-index: 2000;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  top: 397px;
  left: -39px;
}
@media (max-width: 30em) {
  .navigation_home {
    font-size: 3.4rem;
    top: 270px;
  }
}
.navigation_navigation {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  -webkit-transition: all 0.7s ease-in;
  transition: all 0.7s ease-in;
  visibility: hidden;
}
.navigation_container {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 110px;
  -webkit-transform: translate(-70px, -50%);
  transform: translate(-70px, -50%);
  list-style: none;
  text-align: left;
}
@media (max-width: 36em) {
  .navigation_container {
    width: 200px;
    left: 45%;
  }
}
.navigation_list {
  height: 5rem;
  position: relative;
  max-width: 190px;
  width: 100%;
  margin: auto;
  list-style-type: none;
}
.navigation_list:hover {
  cursor: pointer;
}
.navigation_list:hover .navigation_link {
  scale: 1.05;
  position: absolute;
}
.navigation_background {
  position: fixed;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.86, 0, 0.07, 1);
  transition: -webkit-transform 0.6s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.6s cubic-bezier(0.86, 0, 0.07, 1);
  transition:
    transform 0.6s cubic-bezier(0.86, 0, 0.07, 1),
    -webkit-transform 0.6s cubic-bezier(0.86, 0, 0.07, 1);
  z-index: 1000;
  background: #2b2d3e;
  width: 10px;
  margin: 0 auto;
  height: 100vh;
}
.navigation_checkbox {
  display: none;
}
.navigation_link {
  color: #fff;
  font-size: 4rem;
  list-style-type: none;
  text-decoration: none;
}

.navigation_button {
  display: block;
  opacity: 1;
  background-color: #000;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 4rem;
  left: 1rem;
  border-radius: 50%;
  z-index: 2000;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5);
  text-align: center;
  cursor: pointer;
}
.navigation_icon {
  position: relative;
  top: 0.5rem;
  margin-left: -0.15rem;
}
.navigation_icon,
.navigation_icon:after,
.navigation_icon:before {
  width: 3rem;
  height: 2px;
  background-color: #fff;
  display: inline-block;
}
.navigation_icon:after,
.navigation_icon:before {
  content: '';
  position: absolute;
  left: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.navigation_icon:before {
  top: -0.8rem;
}
.navigation_icon:after {
  top: 0.8rem;
}
.navigation_button:hover .navigation_icon:before {
  top: -1rem;
}
.navigation_button:hover .navigation_icon:after {
  top: 1rem;
}
.navigation[data-toggle='open'] .navigation_button .navigation_icon {
  background-color: transparent;
}
.navigation[data-toggle='open'] .navigation_button .navigation_icon:before {
  top: 0;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
.navigation[data-toggle='open'] .navigation_button .navigation_icon:after {
  top: 0;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.navigation[data-toggle='open'] .overlay {
  background-color: #000;
  opacity: 0.5;
}
.navigation[data-toggle='open'] .navigation_background {
  -webkit-transform: scale(60);
  transform: scale(60);
}
.navigation[data-toggle='open'] .navigation_navigation {
  opacity: 1;
  width: 317px;
  display: block;
  visibility: visible;
}
main {
  height: 100%;
  width: 100%;
}
.welcome {
  height: 100vh;
  width: 100%;
  position: relative;
}
.welcome #welcome_detail {
  height: 300px;
  right: 32px;
  top: 107px;
  -webkit-transform: skew(-35deg, 40deg);
  transform: skew(-35deg, 40deg);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.welcome #welcome_detail,
.welcome #welcome_detail:before {
  display: block;
  width: 65px;
  position: absolute;
  background: red;
  -webkit-box-shadow: 10px 8px 7px rgba(0, 0, 0, 0.19);
  box-shadow: 10px 8px 7px rgba(0, 0, 0, 0.19);
}
.welcome #welcome_detail:before {
  content: '';
  height: 360px;
  right: 90px;
  top: -120px;
}
.welcome #welcome_detail:after {
  content: '';
  height: 260px;
  width: 65px;
  position: absolute;
  right: -93px;
  top: 85px;
  background: red;
  -webkit-box-shadow: 10px 8px 7px rgba(0, 0, 0, 0.19);
  box-shadow: 10px 8px 7px rgba(0, 0, 0, 0.19);
}
@media (max-width: 62em) {
  .welcome #welcome_detail {
    height: 215px;
    right: -13px;
    top: -13px;
  }
  .welcome #welcome_detail:before {
    height: 250px;
    right: 90px;
    top: -93px;
  }
  .welcome #welcome_detail:after {
    height: 180px;
    right: -93px;
    top: 85px;
  }
}
@media (max-width: 36em) {
  .welcome #welcome_detail {
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}
.welcome_container {
  max-width: 800px;
  width: 100%;
  height: 100%;
}
@media (max-width: 30em) {
  .welcome_container {
    height: 100%;
    display: grid;
    place-items: center;
    padding-left: 1rem;
  }
}
@media (max-width: 36em) {
  .welcome_container {
    height: 100%;
    display: grid;
    place-items: center;
    padding-left: 1rem;
  }
}
.welcome_content {
  padding: 10rem 0 0 15rem;
  position: relative;
  top: 8rem;
}
@media screen and (max-width: 1230px) {
  .welcome_content {
    top: 2rem;
  }
}
@media (max-width: 62em) {
  .welcome_content {
    height: 100%;
    padding: 0 0 0 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    top: 0;
  }
}
@media (max-width: 30em) {
  .welcome_content {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0;
    top: 0;
  }
}
@media (max-width: 36em) {
  .welcome_content {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0;
    top: 0;
  }
}
.welcome_heading {
  font-size: 5rem;
  margin: 0;
  color: red;
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.19);
}
@media (max-width: 48em) {
  .welcome_heading {
    font-size: 6.3rem;
  }
}
@media (max-width: 36em) {
  .welcome_heading {
    width: 100%;
    padding-bottom: 1rem;
    text-align: left;
  }
}
.welcome_description {
  width: 85%;
  font-size: 1.8rem;
  padding: 2rem 0;
}
@media (max-width: 48em) {
  .welcome_description {
    font-size: 2.5rem;
  }
}
@media (max-width: 36em) {
  .welcome_description {
    width: 95%;
  }
}
.welcome .btn-trigger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
@media (max-width: 36em) {
  .welcome .btn-trigger {
    margin: 1.5rem 0;
  }
}
@media (max-width: 30em) {
  .welcome .btn-trigger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 2rem 0 0;
  }
}
.welcome .btn-trigger:hover + #welcome_detail {
  -webkit-transform: translate(-300px, -90px) rotate(20deg);
  transform: translate(-300px, -90px) rotate(20deg);
}
.welcome_btn {
  width: 135px;
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 2rem;
  cursor: pointer;
  color: #fff;
  padding: 10px 20px;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.14);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.14);
}
.welcome_btn:hover .buttonLink {
  color: #000;
}
.welcome_btn:nth-of-type(2n) {
  margin-left: 1rem;
}
@media (max-width: 48em) {
  .welcome_btn:nth-of-type(2n) {
    margin-left: 1rem;
  }
}
@media (max-width: 48em) {
  .welcome_btn {
    font-size: 2.3rem;
  }
}
@media (max-width: 36em) {
  .welcome_btn {
    width: 119px;
    font-size: 2.3rem;
  }
}
@media (max-width: 30em) {
  .welcome_btn {
    width: 120px;
    font-size: 2.5rem;
    padding: 0.8rem 1.9rem;
  }
}
.welcome_aboutMe {
  color: #fff;
}
.welcome .buttonLink {
  list-style: none;
  text-decoration: none;
}
.welcome .btnAnime:before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 180%;
  background: red;
  z-index: -1;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
.welcome_btn:before {
  border-radius: 50% 50% 0 0;
  bottom: 0;
}
.welcome_btn:hover:before {
  cursor: pointer;
  height: 0%;
  color: #1f1f1f;
}
.welcome_btn:hover {
  color: #1f1f1f;
  -webkit-box-shadow: 0 8.5px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 8.5px 5px 0 rgba(0, 0, 0, 0.2);
}
.focus {
  background: #252737;
  height: 80vh;
  width: 100%;
}
@media (max-width: 43.75em) {
  .focus {
    height: 100%;
  }
}
.focus_container {
  height: 100%;
  width: 100%;
  padding: 0 2rem 0 5rem;
}
@media (max-width: 62em) {
  .focus_container {
    padding: 0;
  }
}
@media (max-width: 43.75em) {
  .focus_container {
    padding: 2rem 2rem 4rem 0;
  }
}
.focus_headingWrapper {
  padding: 2rem 0 0 5rem;
  position: relative;
  top: 4rem;
  width: 43%;
}
@media (max-width: 75em) {
  .focus_headingWrapper {
    padding: 2rem 0 0 3rem;
    width: 67%;
  }
}
@media (max-width: 62em) {
  .focus_headingWrapper {
    padding: 0 0 0 1rem;
    width: 70%;
  }
}
@media (max-width: 43.75em) {
  .focus_headingWrapper {
    padding: 2rem 0 2rem 2rem;
    top: 0;
    width: 100%;
  }
}
.focus_heading {
  font-size: 5rem;
  margin: 0;
  padding-bottom: 1rem;
  color: red;
}
.focus_description {
  font-size: 1.9rem;
  font-weight: 300;
  color: #fff;
}
@media (max-width: 30em) {
  .focus_description {
    font-size: 2.3rem;
  }
}
@media (max-width: 43.75em) {
  .focus_description {
    font-size: 2.5rem;
  }
}
.focus_list {
  height: 74.6%;
  width: 100%;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0 13px;
  place-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-items: center;
}
@media (max-width: 75em) {
  .focus_list {
    padding: 0;
    grid-gap: 0 10px;
  }
}
@media (max-width: 62em) {
  .focus_list {
    padding: 0 1rem;
    grid-gap: 0 8px;
  }
}
@media (max-width: 43.75em) {
  .focus_list {
    height: 100%;
    display: block;
    padding: 0;
    grid-template-columns: 0;
    place-items: none;
  }
}
.focus_list-wrap {
  text-align: center;
  position: relative;
  width: 100%;
}
@media (max-width: 43.75em) {
  .focus_list-wrap {
    text-align: left;
    padding: 2rem 0 0 1rem;
  }
}
.focus_list-wrapFirst {
  top: 4rem;
}
@media (max-width: 43.75em) {
  .focus_list-wrapFirst {
    top: 0;
  }
}
.focus_list-wrapSecond {
  top: -3rem;
}
@media (max-width: 43.75em) {
  .focus_list-wrapSecond {
    top: 0;
  }
}
.focus_list-wrapThird {
  top: 4rem;
}
@media (max-width: 43.75em) {
  .focus_list-wrapThird {
    top: 0;
  }
}
.focus_list-wrapFourth {
  top: -3rem;
}
@media (max-width: 43.75em) {
  .focus_list-wrapFourth {
    top: 0;
  }
}
@media (max-width: 43.75em) {
  .focus_hex-wrap {
    text-align: left;
  }
}
.focus_hexagon {
  background: #fff;
  height: 70px;
  width: 40px;
  margin: 0 auto;
}
.focus_hexagon i {
  position: relative;
  top: -6.3rem;
  right: 0.6rem;
  z-index: 1000;
  font-size: 5rem;
}
@media (max-width: 62em) {
  .focus_hexagon i {
    top: -7rem;
    right: 0.15rem;
  }
}
@media (max-width: 48em) {
  .focus_hexagon i {
    font-size: 6rem;
    top: -8rem;
  }
}
@media (max-width: 43.75em) {
  .focus_hexagon i {
    font-size: 6rem;
    top: -9rem;
    right: 0.15rem;
  }
}
@media (max-width: 43.75em) {
  .focus_hexagon {
    margin-left: 3rem;
  }
}
.focus_hexagon:before {
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
}
.focus_hexagon:after,
.focus_hexagon:before {
  content: '';
  display: block;
  background: #fff;
  height: 70px;
  width: 40px;
  margin: 0 auto;
}
.focus_hexagon:after {
  position: relative;
  top: -12.2rem;
  -webkit-transform: rotate(-60deg);
  transform: rotate(-60deg);
}
@media (max-width: 75em) {
  .focus_hexagon:after {
    top: -13.5rem;
  }
}
@media (max-width: 62em) {
  .focus_hexagon:after {
    top: -14.21rem;
  }
}
@media (max-width: 48em) {
  .focus_hexagon:after {
    top: -17.52rem;
  }
}
@media (max-width: 43.75em) {
  .focus_hexagon:after {
    top: -18.12rem;
  }
}
.focus_icon {
  width: 60px;
  position: absolute;
  top: 2px;
  right: 39.5%;
  z-index: 1;
}
@media (max-width: 75em) {
  .focus_icon {
    right: 37%;
  }
}
@media (max-width: 62em) {
  .focus_icon {
    right: 36.3%;
  }
}
@media (max-width: 43.75em) {
  .focus_icon {
    width: 50px;
    height: 50px;
    top: 3rem;
    left: 3rem;
  }
}
.focus .iconTwo {
  top: 4px;
  right: 39.5%;
}
@media (max-width: 75em) {
  .focus .iconTwo {
    right: 36.5%;
  }
}
@media (max-width: 62em) {
  .focus .iconTwo {
    right: 36.3%;
  }
}
@media (max-width: 43.75em) {
  .focus .iconTwo {
    top: 3rem;
  }
}
.focus .iconThree {
  top: 8px;
}
@media (max-width: 43.75em) {
  .focus .iconThree {
    top: 3rem;
  }
}
.focus_listHeading {
  font-size: 2.3rem;
  color: red;
}
@media (max-width: 43.75em) {
  .focus_listHeading {
    font-size: 2.9rem;
  }
}
.focus_listDescription {
  font-size: 1.9rem;
  font-weight: 300;
  color: #fff;
}
@media (max-width: 43.75em) {
  .focus_listDescription {
    font-size: 2.1rem;
  }
}
.about {
  width: 90%;
  max-width: 85em;
  margin: 5em auto;
}
.about:after {
  content: '';
  display: block;
  clear: both;
}
.about_img {
  max-height: 32em;
  border-radius: 50%;
}
@media (min-width: 42em) {
  .about_img {
    float: left;
    margin-right: 1em;
  }
}
.about_title {
  font-size: 7.8rem;
  margin-bottom: 0.25em;
}
.about_subtitle {
  font-size: 4.5rem;
  margin: 0.5em 0;
}
@supports (display: grid) {
  .about {
    display: grid;
    grid-template-columns:
      [port-start] minmax(6em, 1fr) [name-start] minmax(6em, 1fr)
      [img-end] 5fr [port-end];
    grid-column-gap: 0.5em;
  }
  .about_img {
    grid-column: port/img;
    grid-row: 1/2;
  }
  @media (min-width: 50em) {
    .about_img {
      grid-row: 1/4;
    }
  }
  .about_title {
    grid-column: name/img;
    grid-row: 1/2;
    align-self: end;
  }
  .about_subtitle,
  .about_text {
    grid-column: port/port;
  }
  @media (min-width: 50em) {
    .about_subtitle,
    .about_text {
      grid-column: img-end/port-end;
    }
  }
  .about_subtitle p,
  .about_text p {
    font-size: 1.8rem;
    font-weight: 100;
    color: #656565;
  }
  @media (max-width: 36em) {
    .about_subtitle p,
    .about_text p {
      font-size: 2.6rem;
    }
  }
  .about_subtitle p:nth-of-type(n),
  .about_text p:nth-of-type(n) {
    padding-bottom: 2rem;
  }
  .about_subtitle {
    grid-row: 2/3;
  }
  .about_text {
    grid-row: 3/4;
  }
}
.portfolio {
  text-align: center;
  background: #b5b5b5;
  padding: 5em 0;
}
.portfolio h1 {
  font-size: 5rem;
}
.portfolio_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  max-width: 122em;
}
.portfolio_item {
  position: relative;
  overflow: hidden;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 20rem;
  flex: 1 1 20rem;
}
.portfolio_item figcaption {
  position: absolute;
  top: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 1em;
  background: rgba(255, 0, 0, 0.75);
  color: #fff;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transition: top 0.25s ease-in-out;
  transition: top 0.25s ease-in-out;
}
.portfolio_item:focus figcaption,
.portfolio_item:hover figcaption {
  top: 0;
}
.portfolio_image {
  display: block;
  width: 100%;
}
.portfolio_title {
  color: #fff;
  font-size: 2.8rem;
  margin-bottom: auto;
}
.portfolio_desc {
  display: none;
  font-size: 1.8rem;
}
.portfolio_link {
  color: #fff;
  font-weight: 900;
  font-size: 1.8rem;
  text-decoration: none;
  border-bottom: 3px solid #fff;
  -ms-flex-item-align: start;
  align-self: flex-start;
}
.portfolio_link:after {
  content: url(../img/arrow-white.svg);
  display: inline-block;
  height: 0.8em;
  width: 0.8em;
  margin-left: 0.5em;
}
.portfolio_function {
  float: right;
  width: 50%;
}

@media (max-width: 1500px) {
  .portfolio_function {
    margin: 0 auto;
    float: none;
    width: 70%;
  }
}

@media (max-width: 62em) {
  .portfolio_function {
    float: none;
    width: 50%;
  }
}
.portfolio_functionHeading {
  font-size: 2.4rem;
  letter-spacing: 0.15em;
  color: red;
  text-transform: uppercase;
  line-height: 1;
  font-family: Merriweather, sans-serif;
  font-weight: 400;
  text-align: left;
}
.portfolio_functionList {
  display: grid;
  grid-column-gap: 7px;
  grid-row-gap: 7px;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  justify-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1rem 0 0;
}
.portfolio_btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 2rem;
  text-align: left;
  -webkit-transition: all 4s ease-in;
  transition: all 4s ease-in;
}
.portfolio_btnSite {
  border: none;
  background: teal;
  padding: 2.4rem;
  color: #fff;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}
.portfolio_btnSite:hover {
  cursor: pointer;
  background: #00a9a9;
}
.portfolio_siteLink {
  font-size: 1.8rem;
  color: #fff;
  text-decoration: none;
}
.portfolio_iMacContainer {
  position: relative;
  top: 0;
  width: 40%;
  float: left;
  /* display: -webkit-box;
  display: -ms-flexbox; */
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
}

@media (max-width: 1500px) {
  .portfolio_iMacContainer {
    width: 100%;
  }
}

@media (max-width: 48em) {
  .portfolio_iMacContainer {
    width: 0;
    display: none;
    visibility: hidden;
  }
}
.portfolio .fillwidth {
  width: 100%;
}
.portfolio_iMac {
  width: 850px;
  height: 100%;
  background: url(../img/imac_mockup.png) no-repeat;
  background-size: contain;
  margin: 0 auto;
  position: relative;
}
.portfolio .desktop-wrapper {
  height: 544px;
  width: 728px;
  margin: 0 auto;
  position: relative;
  background: url(../img/iMac.png) 50% no-repeat;
  background-size: contain;
}
@media (max-width: 62em) {
  .portfolio .desktop-wrapper {
    height: 610px;
    width: 800px;
  }
}
@media (max-width: 48em) {
  .portfolio .desktop-wrapper {
    width: 0;
    display: none;
    visibility: hidden;
  }
}
.portfolio .modal_video {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2.4% 8.5% 19.6%;
  position: absolute;
  -o-object-fit: fill;
  object-fit: fill;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (max-width: 62em) {
  .portfolio .modal_video {
    padding: 17.4% 3.5% 35.6%;
  }
}
@media (max-width: 48em) {
  .portfolio .modal_video {
    width: 0;
    display: none;
    visibility: hidden;
  }
}
.portfolio_iMacVid {
  width: 773px;
  height: 100%;
  position: relative;
  top: 34.2rem;
}
.portfolio_functionItem {
  font-size: 2rem;
  font-weight: bold;
}
@supports (display: grid) {
  .portfolio_items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 50em) {
    .portfolio_items {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  .portfolio_item.featured {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
  }
  .featured .portfolio_title {
    font-size: 5rem;
  }
  .featured .portfolio_desc {
    display: block;
  }
}
.portfolio_modal {
  position: fixed;
  z-index: 10;
  top: 2em;
  bottom: 2em;
  left: 8em;
  right: 2em;
  background: #fff;
  -webkit-box-shadow: 0 0 0 3em rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 3em rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
  overflow-x: hidden;
  display: none;
}
.portfolio_modal.is-open {
  display: block;
}
.modal_close {
  background: #fff;
  position: fixed;
  left: 9em;
  top: 1em;
  border: 0;
  width: 6em;
  height: 6em;
  padding: 4px 0 0;
  border-radius: 50%;
  cursor: pointer;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
@media (max-width: 36em) {
  .modal_close {
    top: 2em;
  }
}
.portfolio_header {
  text-align: left;
  padding: 5em 0;
  background-size: cover;
  background-position: 50%;
}
.mvlStockPhoto {
  -o-object-position: 0 38px !important;
  object-position: 0 38px !important;
}
.header-zero {
  background: url(../img/a1-fitness-1000.png) no-repeat;
  width: 100%;
  background-size: cover;
  background-position: 50%;
}
.header-one {
  background: url(../img/a1-ecommerce.png) no-repeat;
  width: 100%;
  background-size: cover;
  background-position: 50%;
}
.header-two {
  background-image: url(../img/geolocation-1000.png);
  background-position: 140px -185px;
}
.header-five {
  background: url('../img/bStadiumModalHeader(desk).jpg') no-repeat;
  width: 100%;
  background-size: cover;
}
.header-six {
  background: url('../img/eleThumbNail-desk.png') no-repeat;
  width: 100%;
  background-size: cover;
}
@media (max-width: 36em) {
  .header-five {
    background-size: cover;
    background-position: 12%;
  }
}
.portfolio_title-box {
  background: rgba(255, 0, 0, 0.75);
  padding: 3em 0 3em 3em;
  color: #fff;
  width: 70%;
}
.portfolio_title-box .portfolio_title {
  font-size: 3.5rem;
  display: inline-block;
}
.portfolio_title-box .portfolio_title:after {
  content: '';
  display: block;
  height: 1px;
  margin: 0.5em 0;
  background: #fff;
  width: 100%;
}
.portfolio_subtitle {
  font-size: 1.7rem;
}
.portfolio_content {
  width: 85%;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 2em;
}
.portfolio_content p,
ul {
  font-size: 1.8rem;
  padding: 2rem 0;
  text-align: left;
}
@media (max-width: 36em) {
  .portfolio_content p,
  ul {
    font-size: 2.5rem;
  }
}
.portfolio_full-width {
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
  width: 50%;
  max-width: none;
  float: left;
  margin: 1em calc(58.5% - 48vw);
  height: 52%;
  padding-right: 10px;
}
@media (max-width: 62em) {
  .portfolio_full-width {
    float: none;
    width: 100%;
    height: auto;
  }
}
@media (max-width: 36em) {
  .portfolio_full-width {
    height: auto;
  }
}
.portfolio_firstPassage {
  float: right;
  width: 52%;
}
@media (max-width: 62em) {
  .portfolio_firstPassage {
    float: none;
    width: 100%;
  }
}
.portfolio-modal-description {
  width: 52%;
  float: right;
  font-size: 1.8rem;
}
.portfolio-modal-description a {
  color: red;
}
.portfolio-modal-description a:hover {
  cursor: pointer;
  color: #bababa;
}

.portfolio-modal-github-board h4 {
  font-size: 3.5rem;
}

@media (max-width: 1500px) {
  .portfolio-modal-description {
    width: 72%;
    margin: 0 auto;
    float: none;
    font-size: 1.8rem;
  }
}

@media (max-width: 62em) {
  .portfolio-modal-description {
    width: 100%;
    float: none;
  }

  .portfolio-modal-github-board h4 {
    font-size: 3.2rem;
  }
}
.portfolio-modal-image {
  position: relative;
  -o-object-fit: contain;
  object-fit: contain;
  width: 50%;
  left: -2rem;
}
/* @media (max-width: 36em) {
  .portfolio-modal-image {
    width: 100%;
    left: 0;
  }
} */
@media (min-width: 50em) {
  /* .portfolio-modal-image {
    width: 100%;
  } */
  .portfolio-pull-left {
    width: 65%;
    float: left;
    margin-right: 2em;
  }
  .portfolio-pull-right {
    width: 65%;
    float: right;
    margin-left: 2em;
  }
}

@media (max-width: 62em) {
  .portfolio-modal-image {
    width: 100%;
  }
}

@-webkit-keyframes modalIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes modalIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes modalOut {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes modalOut {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes slide {
  0% {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes slide {
  0% {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@-webkit-keyframes slideOut {
  0% {
    width: 100%;
  }
  to {
    width: 0;
  }
}
@keyframes slideOut {
  0% {
    width: 100%;
  }
  to {
    width: 0;
  }
}
.social {
  background: #223843;
  padding: 3em 0;
  text-align: center;
}
.social_heading {
  font-size: 2.3rem;
  color: #fff;
}
.social_icons {
  width: 90%;
  max-width: 15em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1.75em auto 4em;
  place-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.social_icon {
  width: 25%;
  height: 25%;
}
.social_icon img {
  width: 100%;
  height: 100%;
}
.copyright {
  color: red;
  font-size: 1.6rem;
}
.copyright:before {
  content: '';
  display: block;
  height: 1px;
  background: hsla(0, 0%, 100%, 0.15);
  margin: 1em auto;
  width: 25%;
} /*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
li {
  list-style-type: none;
}
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type='button'],
[type='reset'],
[type='submit'],
button {
  -webkit-appearance: button;
}
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type='checkbox'],
[type='radio'] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}
[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details {
  display: block;
}
summary {
  display: list-item;
}
[hidden],
template {
  display: none;
}
